<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frota SanMarco</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Frota SanMarco by Thiago</h1>
        <nav>
            <button id="showroom-btn">Showroom</button>
            <button id="testdrive-btn">Test Drive</button>
        </nav>
    </header>

    <section id="car-section" style="display:none;">
        <div id="jeep-column" class="car-column">
            <h2>Jeep</h2>
            <div id="jeep-cars"></div>
        </div>

        <div id="ram-column" class="car-column">
            <h2>Ram</h2>
            <div id="ram-cars"></div>
        </div>
    </section>

    <button id="add-vehicle-btn" class="add-button" style="display:none;">Adicionar Veículo</button>

    <script src="/static/script.js"></script>
</body>
</html>
 